@model MvcMovie.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>My Movies</h1>

<form id="user-filter" asp-controller="Movies" asp-action="Index" method="get">
    <p>
        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.Movies[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.Movies[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.Movies[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Rating)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td id="release">
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td id="price">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a class="modify-links" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="modify-links" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="modify-links" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a class="add-movie" asp-action="Create">Add Movie</a>
</p>

<style>
    body {
        background-color: lightgrey;
    }

    .table {
        background-color: #36454F;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0px 10px 10px -5px rgba(0,0,0,.5);
        overflow: hidden;
    }

    .table th {
        color: #2edfff;
    }

    .table td {
        border: 0;
    }

    .modify-links {
        color: lightblue;
    }

    #release, #price {
        color: lightgrey;
    }

    #user-filter {
        display: flex;
        justify-content: flex-start;
        margin-top: 50px;
    }

    .add-movie {
        padding: 5px 7px;
        border-radius: 5px;
        background: #fff;
        text-decoration: none;
        box-shadow: 0px 5px 10px -8px rgba(0,0,0,.5);
    }
</style>
